body, html {
  background-color: #334155;
}

/* LAYOUT */
.chatWindow {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.chatLog {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

ul.chatLog {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.chatMessage {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#chatInputForm {
  display: flex;
}

#userMessage {
  flex-grow: 1;
  height: 40px;
}


/* COLORS */
.user-chatMessage {
  color: white;
  background-color: #1e293b;
}

.ai-chatMessage {
  background-color: #94a3b8;
}